*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  
  background: url('image/bg-mobile.jpg') no-repeat top center/cover;
}
.container{
 width: 360px;
 height: 712px;
 margin: 50px auto;
 padding: 0 24px;
}
.profile{
  text-align: center;
  padding: 24px;
}
.avatar{
  width: 112px;
  border-radius: 50%;
}


.name{
  font-size: 24px;
  margin: 10px 0 5px 0;
  color: #e6e1e1;
  font-weight: 500;
 
}
.description{
  font-size: 16px;
  color: #cccccc;
}
body *{
  font-family: 'Inter', sans-serif;
}
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px ;
  padding: 24px 0;
 }



ul li a {
  text-decoration: none;
  color: #e6e1e1; 
  display: flex;
  gap: 8;
  justify-content: center;
  padding: 16px 24px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  font-weight: 500;

  transition: all 0.3s ease;


}

ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
/* Icons */
.social-icons{
  text-align: center;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap:32px;
  font-size: 40px;
  color: #ffffff;
} 

.social-icons a{
  color: #ffffff;
  transition: color 0.3s ease;
}
.social-icons a:hover{
  color: #cccccc;
}

footer {
  text-align: center;
  padding: 16px 0;
  font-size: 14px;
  color: #e6e1e1;
}
footer a {
  color: #e6e1e1;
  text-decoration: none;
  font-weight: 500;
}