*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --text-color:#ffffff;
  --bg-url: url('image/bg-mobile.jpg');
  --stroke-color: rgba(255, 255, 255, 0.791);
  --suface-color: rgba(255, 255, 255, 0.05);
  --switch-bg: url('assets/moon-stars.svg');

}
.light{
  --text-color:#000000;
  --bg-url: url('image/bg-mobile-light.jpg');
  --stroke-color: rgba(0, 0, 0, 0.1);
  --suface-color: rgba(246, 49, 49, 0.476);
  --switch-bg: url('assets/sun.svg');
}
body{
  
  background: var(--bg-url) no-repeat top center/cover;
  color: var(--text-color);
}
.container{
 width: 360px;
 height: 712px;
 margin: 50px auto;
 padding: 0 24px;
}
#profile{
  text-align: center;
  padding: 24px;
}
#avatar{
  width: 112px;
  border-radius: 50%;
}


.name{
  font-size: 24px;
  margin: 10px 0 5px 0;
  color:var(--text-color);
  font-weight: 500;
 
}
#switch{
  
  position: relative;
  width: 64px;

  margin: 4px auto;
}
#switch button{
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background: white var(--switch-bg) no-repeat center/ 60%;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1 ;
  top: 50%;
  transform: translateY(-50%);
 
}
#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--suface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.light #switch button{
  left: 32px;
}
  
body *{
  font-family: 'Inter', sans-serif;
}
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px ;
  padding: 24px 0;
 }



ul li a {
  text-decoration: none;
  color: var(--text-color); 
  display: flex;
  gap: 8;
  justify-content: center;
  padding: 16px 24px;
  align-items: center;
  background:var(--suface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  font-weight: 500;

  transition: all 0.3s ease;


}

ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
/* Icons */
.social-icons{
  text-align: center;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap:32px;
  font-size: 40px;
  color: var(--text-color);
} 

.social-icons a{
  color: var(--text-color);
  transition: color 0.3s ease;
}
.social-icons a:hover{
  color: #cccccc;
}

footer {
  text-align: center;
  padding: 16px 0;
  font-size: 14px;
  color: var(--text-color);
}
footer a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}
footer a:hover {
  text-decoration: underline;
  color: chartreuse;
}